{% extends "include/base.html" %}

{% load static %}
{% block content %}


        <div class="question-main mb-5">
          <div class="row">
            <div class="col-2">
              <div class="avatar">
                <img src="{% static "img/avatar-1.jpg" %}" alt=""/>
              </div>
                <button class="arrow-buttons mt-3">
                        <div class="fs-5">↑</div>
                    </button>
                    <button class="arrow-buttons mt-3">
                        <div class="fs-5">↓</div>
                    </button>
                    <span class="ms-1">0</span>
            </div>
            <div class="col-10">
              <h2 class="question-title" >{{ question.answer }}</h2>
              <div class="question-text">
                {{ question.text }}
              </div>
                <span class="fw-bold">
                    Tags:
                    {% for tag in question.tags %}
                        <a href="" class="text-decoration-none">{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
          </div>
        </div>
    <hr>
    {% for answer in page_object %}
        {% include "include/answer_item.html" %}
    {% endfor %}

          {% include "include/paginator.html" %}

    <hr>
    <div class="input-group has-validation">
                <textarea class="form-control is-invalid" id="exampleFormControlTextarea1" rows="6" placeholder="Enter your answer"></textarea>
              <div class="invalid-feedback">
                Answer can`t be empty
              </div>
        <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">Answer</button>
    </div>



{% endblock %}

